---
layout: default
title : HOME
---

<div class="home">

  <div class="post-list">
    {% for category in site.categories %}
   <!--여기 첫번째는 br 태그 빼는 로직 추가 할것 -->
        {% assign c = category | first %}
        {% assign posts = category | last %}
      <h1> {{c}}</h1>

        <p>
          {% for post in posts %}
                  {% if post.categories contains c %}

              <li>
              <a href="{{post.url}}">{{post.title}}</a>
               &nbsp; <span class="post-meta" style="font-size:medium;">{{ post.date | date: "%b %-d, %Y" }}</span>
              </li>
        </p>

          {% endif %}
        {% endfor %}
          <br/>
    {% endfor %}


  </div>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
