<header class="site-header">

<center>
<!--<img src="..\images\minsu2.png" width="200" height="200"> <Br/><br/>
  <span style="color:white" font-size:30px;> -->
<!--  <img src"..\images\background.jpg"> <br> -->
  <p id="main_id">I'm Minsuㅇ하하하하하</p>
  <a href="http://pminsu01.github.io" id="home_link"> http://pminsu01.github.io<br/></a>
  별과 그림 그리고  IT<br/>
<!--  <a href="http://blog.naver.com/pminsu01" style="color:white">
  http://blog.naver.com/pminsu01</a> -->
</span>


</center>
  </header>
