<center>
<ul>
  <li><a href="{{site.baseurl}}/">Home</a></li>
  <li><a href="{{ site.baseurl }}/Something/">Something</a></li>
  <li><a href="{{ site.baseurl }}/Setting">Setting</a></li>
  <li><a href="{{site.baseurl}}/IT">IT Devices</a></li>
  <li><a href="{{sit.baseurl}}/Project">Projects</a>
    </li>
  <li><a href="{{site.baseurl}}/Education">Education</a></li>
  <li><a href="{{ site.baseurl }}/About/">About</a></li>
<!--  <li id="write"><a href="{{site.baseurl}}/Writepost/">Write Post</a></li> -->
</ul>
</center>
