#site-header {

  #main_id {
    font-size:  150px;
    color : white;
    font-style:oblique;
  }

  #home_link {
    font-size: 30px;
    color: white;
  }

#intro_id {

  font-size: 20px;
  color : white;
}

}
