 #main-post {


        h1 {
        font-size : $title-font-size;
        font-style: oblique;
        }


        time {

          float: right;
          font-size: 30px;
          font-style: italic;

        }
}
